{% extends 'seeker_base.html' %}

{% block content %}
<div class="container py-4">

    <!-- Welcome / Dashboard Overview -->
    <div class="mb-4">
        <h2 class="text-primary">Welcome, {{ request.user.seekerprofile.first_name | title }} {{ request.user.seekerprofile.last_name | title }}!</h2>
        <p class="text-muted">Here's a quick overview of your job search.</p>
    </div>
    

    <!-- Quick Stats Cards -->
    <div class="row g-3">
        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Total Applications</h5>
                    <p class="display-6 text-primary">{{ applications.count }}</p>
                    <small class="text-muted">Jobs you’ve applied to</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Active Applications</h5>
                    <p class="display-6 text-primary">{{ active_applications.count }}</p>
                    <small class="text-muted">Jobs that are active </small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Recommended Jobs</h5>
                    <p class="display-6 text-success">{{ recommended_jobs.count }}</p>
                    <small class="text-muted">Jobs suited to your profile</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Saved Jobs</h5>
                    <p class="display-6 text-warning">{{ saved_jobs.count }}</p>
                    <small class="text-muted">Jobs you saved to apply later</small>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
